body {
    font-family:  'Roboto', sans-serif;
    font-weight:  400;
    font-size:    14px;
    line-height:  145%;
}
h1 {
    font-family:  'Roboto', sans-serif;
    font-weight:  300;
    font-size:    44px;
}
.a-container {
    position:    relative;
    width:       100%;
    max-width:   1170px;
    margin:      0 auto;
    padding:     0 20px;
    box-sizing:  border-box;
}
#first-container {
    margin-top: 130px;
}
#last-container {
    padding-bottom: 6em;
}
.text-container {
    -webkit-column-count:  1;
    -webkit-column-gap:    2px;
    -moz-column-count:     1;
    -moz-column-gap:       2px;
    column-count:          1;
    column-gap:            2px;
    border:                1px solid #6dc32c;
    box-sizing:            border-box;
}
.text-container p {
    margin:      auto;
    padding:     1em;
    text-align:  justify;
}
.text-container p a {
    color: lightgreen;
}
.text-container a:hover {
    color: darkgreen;
}
a{
    color: gray;
}
a:hover{
    text-decoration:  underline;
    color:            lightgray;
}
header {
    position:    fixed;
    z-index:     999999;
    top:         0;
    left:        0;
    width:       100%;
    box-shadow:  1px 1px 2px #888888;
    background:  -webkit-linear-gradient(#d1d1d1, #f0f0f0);
    background:  -o-linear-gradient(#d1d1d1, #f0f0f0);
    background:  -moz-linear-gradient(#d1d1d1, #f0f0f0);
    background:  linear-gradient(#d1d1d1, #f0f0f0);
}
nav {
}
nav > ul {
    padding:          0;
    margin:           0 auto;
    list-style-type:  none;
    display:          inline;
}
nav > ul li:hover{
    background: #cccccc;
    transition: all 0.2s ease;
}
nav > ul li {
    float:           left;
    text-align:      center;
    width:           9%;
    padding-top:     35px;
    padding-bottom:  35px;
    border-left:     1px solid #cccccc;
    padding-left:    0;
    padding-right:   0;
    margin:          auto;
}
nav > ul li:last-child {
    border-right: 1px solid #cccccc;
}
nav a {
    color:            #656565;
    text-decoration:  none;
}
nav a:hover {
    color:       black;
    transition:  all 0.2s ease;
}
.nav_logo{
    position:    fixed;
    top:         0;
    left:        0;
    float:       left;
    background:  url(images/logo.png) no-repeat 50% 50%;
    width:       150px;
    height:      100px;
}
.logo {
    display:   block;
    float:     left;
    width:     250px;
    height:    85px;
    overflow:  hidden;
    padding:   0;
    margin:    0;
}
.logo img{
    width:         150px;
    padding-left:  20px;
    padding:       0;
    margin:        0;
}
.logo img:hover{
    margin-top: -80px;
}
footer {
    position:     fixed;
    z-index:      99999;
    font-size:    12px;
    height:       40px;
    left:         0;
    bottom:       0;
    color:        #656472;
    width:        100%;
    background:   white;
    padding-top:  10px;
    margin-top:   10px;
    font-size:    12px;
}
.footer-container {
    border-top:    1px solid #6cc22d;
    max-width:     1170px;
    margin-left:   auto;
    margin-right:  auto;
}
footer #left-footer {
    float: left;
}
footer #right-footer{
    text-align:  right;
    float:       right;
}
table {
    width:            100%;
    text-align:       left;
    border-collapse:  collapse;
}
table thead th{
    padding-bottom:  5px;
    font-size:       19px;
    font-weight:     bold;
    border-bottom:   2px solid #cdcdcd;
}
table thead th i{
}
table tbody tr{
    height:         2.2em;
    margin:         auto;
    border-bottom:  1px solid lightgray;
}
table tbody tr:last-child{
    border-bottom: none;
}
#sort-up {
    color: #6dc32a;
}
#sort-up:hover {
    color:            lightgreen;
    text-decoration:  none;
}
#sort-down {
    color: #6dc32a;
}
#sort-down:hover {
    color:            lightgreen;
    text-decoration:  none;
}
.filter p{
    float: left;
    width: auto;
    padding:       2px;
    color:            gray;
    font-weight:      bold;
}
.filter ul{
    float: left;
    list-style-type:  none;
    color:            gray;
}
.filter ul li{
    display:       inline;
    padding:       2px;
    border-right:  1px solid gray;
}
.filter ul li:last-child{
    border-right: none;
}
.filter li a:hover{
    font-weight:      bold;
    text-decoration:  none;
}
.modalDialog {
    position:    fixed;
    top:         78px;
    right:       0;
    bottom:      0;
    left:        0;
    z-index:     99999;
    transition:  opacity 400ms ease-in;
    height:      auto;
    width:       100%;
    display:     none;
}
.modalDialog:target{
    display:         block;
}
.modalDialog > div {
    position:    relative;
    margin:      0;
    padding:     0;
    background:  #fff;
    opacity:     1;
    height:      10.2em;

}
#small-nav ul{
    list-style-type:  none;
    margin:           0;
    padding:          0;
}
#small-nav li {
    width:        100%;
    margin-left:  5px;
    padding:      0;
}
#small-nav li:hover {
    background: lightgray;
}

@media all and (max-width: 768px) {
th:nth-child(n+5) {
    display: none;
}
td:nth-child(n+5) {
    display: none;
}
#small-nav{
    display: block;
}
#big-nav {
    display: none;
}
#small-nav > a i {
    position:  fixed;
    top:       5px;
    right:     5px;
    margin:    5px;
}
h1 {
    font-size: 28px;
}
footer {
    font-size:    8px;
}
.filter{
    font-size:    9px;
}
}
@media all and (min-width: 768px) {
.text-container{
    -webkit-column-count:  2;
    -webkit-column-gap:    4px;
    -moz-column-count:     2;
    -moz-column-gap:       4px;
    column-count:          2;
    column-gap:            4px;
}
#small-nav {
    display: none;
}
}
@media all and (max-width: 900px){
th:nth-child(n+7) {
    display: none;
}
td:nth-child(n+7){
    display: none;
}
}
@media all and (min-width: 900px){
.text-container{
    -webkit-column-count:  3;
    -webkit-column-gap:    3px;
    -moz-column-count:     3;
    -moz-column-gap:       3px;
    column-count:          3;
    column-gap:            3px;
}
nav i{
    display: none;
}
}
